.space-y-4 {
  margin-bottom: 16px;
}

.about-user {
  display: flex;
  flex-direction: row;
}

.bd-focus {
  border: 1px solid #3b82f6!important;
  outline: none !important;
  box-shadow: none !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-address {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .about-user {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-user > div {
    max-height: none !important;
    white-space: normal;
  }

  .truncate-address {
    max-width: 200px;
  }
}

@media (min-width: 1024px) {
  .truncate-address {
    max-width: 400px;
  }
}


