.space-y-4 {
  margin-bottom: 16px;
}

.about-user {
  display: flex;
  flex-direction: row;
}

.bd-focus {
  border: 1px solid #3b82f6!important;
  outline: none !important;
  box-shadow: none !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .about-user {
    flex-direction: column;
  }
}


