.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.skeleton-c {
  @apply flex items-center justify-between p-4 border border-gray-100 rounded-lg;
  min-height: 3rem;
}

.skeleton-av {
  @apply h-12 w-12 rounded-full bg-gray-300;
  @apply flex items-center justify-center;
  width: 50px;
}

.skeleton-line-half {
  @apply h-3 bg-gray-100 rounded w-1/2;
  width: 250px;
}

.skeleton-line-full {
  @apply h-3 bg-gray-100 rounded w-full max-w-xs;
  width: 350px;
}

.animate-pulse-p {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
